beautifulsoup4==4.6.0
bs4==0.0.1
certifi==2019.11.28
chardet==3.0.4
click==6.7
Django==2.2.7
djangorestframework==3.10.3
freeze==1.0.10
idna==2.8
joblib==0.14.0
numpy==1.17.4
pandas==0.25.3
python-dateutil==2.8.1
pytz==2019.3
requests==2.22.0
scrape-linkedin==0.6.2
selenium==3.9.0
six==1.13.0
sqlparse==0.3.0
urllib3==1.25.8
